@using FamApp.ViewModels
@model ChatViewModel

<script src="~/js/signalr.js"></script>
<script src="~/js/chat.js"></script>

<h2>@Model.Name</h2>

<div id="messages">
    @if (Model.Messages != null && Model.Messages.Count != 0)
    {
        @foreach (var message in Model.Messages)
        {
        <p>
            <span>@message.Sender</span>
            <strong>@message.Content</strong>
            <i>@message.SentAt</i>
        </p>
        }
    }
</div>

<input type="text" id="messageInput" placeholder="Zpráva" />
<button class="btn btn-primary" onclick="sendMessage()">Odeslat</button>