@using FamApp.ViewModels
@model CreateChatViewModel

<div class="container mw-600 p-2">
    <form asp-action="CreateChat" method="post">
        <div class="form-group py-3">
            <label asp-for="Name" class="form-label">Název chatu</label>
            <input asp-for="Name" class="form-control" />
        </div>

        <div class="form-group py-3">
            <label for="users">Účastníci chatu</label>
            <select name="Users" class="form-control" multiple="multiple">
                @foreach (var user in Model.Users) 
                {
                    @if (user.Value != Model.CurrentUserId)
                    {
                        <option value="@user.Value">@user.Text</option>
                    }
                }
            </select>
        </div>

        <input type="hidden" asp-for="CurrentUserId" />

        <div class="d-flex justify-content-center">
            <div class="col-6">
                <button class="btn btn-primary px-5 py-2" type="submit">Vytvořit</button>
            </div>
            <div class="col-6 align-right">
                <a asp-controller="Chats" asp-action="Index" class="btn btn-secondary px-4 py-2">Zrušit</a>
            </div>
        </div>
    </form>
</div>
