@using FamApp.ViewModels
@model IEnumerable<ChatViewModel>

@section Styles {
    <link rel="stylesheet" href="~/css/chat.css" asp-append-version="true" />
}

<div id="chat" class="container">
    <div class="row">
        <div>
            <h3></h3>
            <span></span>
        </div>
        <div class="col-3 chat-container">
            <div class="row px-3 underline">
                <a asp-action="CreateChat" class="btn btn-outline-primary">Vytvořit nový chat</a>
            </div>
            <div class="row chat-group">
                @foreach (var chat in Model)
                {
                    <a class="chat-link" href="#" data-url="@Url.Action("Chat", "Chats", new { chatId = chat.Id})">
                        <div class="row">
                            <h4>@chat.Name</h4>
                        </div>
                        <div class="row">
                            @if (chat.Messages != null && chat.Messages.Count > 0)
                            {
                                var lastMessage = chat.Messages.Last();
                                var lastMessageContent = lastMessage.Content.Length > 18 ? lastMessage.Content[..21] + "..." : lastMessage.Content;
                                <div class="col">
                                    <span>@lastMessageContent</span>
                                </div>
                                <div class="col-auto">
                                    <span>@lastMessage.SentAt.ToString("HH:mm dd.MM.")</span>
                                </div>
                            }
                            else
                            {
                                <span>Žádné zprávy</span>
                            }
                        </div>
                    </a>
                }
            </div>
        </div>
        <div class="col-9" id="chat-content">
            <p class="empty-chat-box">Zatím tu nic není...</p>
        </div>
    </div>
</div>


<script>
    $(document).ready(function () {
        console.log("Skript běží!");

        $(document).on("click", ".chat-link", function (e) {
            e.preventDefault();

            var chatUrl = $(this).data("url");
            console.log("Kliknuto na chat, URL:", chatUrl);

            if (!chatUrl) {
                console.error("Chyba: data-url není nastaveno!");
                return;
            }

            $("#chat-content").load(chatUrl, function (response, status, xhr) {
                if (status === "error") {
                    console.error("Chyba AJAX:", xhr.status, xhr.statusText);
                } else {
                    console.log("Chat úspěšně načten.");
                }
            });
        });
    });
</script>