@using FamApp.Areas.Identity.Data
@model ApplicationUser


<div class="text-center">
    <h1 class="display-4">Vítejte!</h1>
    <p>Přezdívka: @Model.Nick</p>
</div>

<hr/>

<div class="container">
    <div class="row">
        <div class="col">
            <h2>
                <b>Informace o mně</b>
            </h2>
        </div>
    </div>

    <div class="row d-inline">
        <form asp-action="Update" asp-controller="Home" method="post">
            <input asp-for="Id" type="hidden"/>
            <div class="form-group mb-3">
                <label asp-for="Nick">Moje přezdívka</label>
                <input asp-for="Nick" class="form-control input-small" placeholder="@Model.Nick"/>
            </div>
            <div class="form-group mb-3">
                <label asp-for="Color">Moje barva</label>
                <input name="Color" asp-for="Color" type="color" id="colorPicker" class="color-picker form-control form-control-color input-color" value="@Model.Color"/>
            </div>
            <button class="btn btn-primary px-5 my-2" type="submit">Změnit</button>
        </form>
    </div>
</div>
