@using FamApp.ViewModels
@model CreateTicketViewModel


<div class="container mt-4 mv-600">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <div class="card">
                <div class="card-header bg-primary px-4 py-3">
                    <h2 class="text-light">Vytvoření nového ticketu</h2>
                </div>
                <div class="card-body">
                    <form asp-action="Create" method="post">
                        <div class="form-group mb-3">
                            <label asp-for="Name" class="form-label">Název *</label>
                            <input asp-for="Name" class="form-control" placeholder="Název ticketu" />
                        </div>
                        <div class="form-group mb-3">
                            <label asp-for="Description" class="form-label">Popis</label>
                            <input asp-for="Description" class="form-control"  placeholder="Popisek" />
                        </div>
                        <div class="form-group mb-3">
                            <label asp-for="Public" class="form-label">Veřejný</label>
                            <input asp-for="Public" type="checkbox" class="form-check-input"/>
                            <br/>
                            <label asp-for="Priority" class="form-label">Prioritní</label>
                            <input asp-for="Priority" type="checkbox" class="form-check-input" />
                        </div>
                        <div class="form-group mb-3">
                            <label>Vyřeší *</label>
                            <select name="SelectedUserIds" class="form-control" multiple="multiple">
                                @if (Model.Users != null)
                                {
                                    @foreach (var user in Model.Users)
                                    {
                                        <option value="@user.Value">@user.Text</option>
                                    }
                                }
                            </select>
                        </div>
                        <div class="form-group mb-3">
                            <label asp-for="DeadLineDate" class="form-label">Dead line termín *</label>
                            <input asp-for="DeadLineDate" class="form-control" type="date" />
                        </div>
                        <div class="d-flex justify-content-center">
                            <div class="col-6">
                                <button type="submit" class="btn btn-primary px-5 py-2">Vytvořit</button>
                            </div>
                            <div class="col-6 align-right">
                                <a asp-controller="Tickets" asp-action="Index" class="btn btn-secondary px-4 py-2">Zrušit</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
