@model List<Ticket>


    <div class="container">
        <div class="row pt-4">
            <div class="col-6">
            <a class="btn btn-primary" asp-area="" asp-controller="Tickets" asp-action="Create">
                    Create new Ticket
                </a>
            </div>
        </div>
    </div>

    <div class="container d-flex flex-wrap">
        @foreach (var one_tick in Model)
        {
            <div class="card col-md-6 col-lg-4 col-xl-3">
                <div class="card-header">
                    @one_tick.Name
                </div>
                <div class="card-body">
                    @one_tick.Description
                </div>
            </div>
        }
    </div>
