@model List<Ticket>


    <div class="container">
        <div class="row pt-4">
            <div class="col-6">
            <a class="btn btn-primary" asp-area="" asp-controller="Tickets" asp-action="Create">
                    Create new Ticket
                </a>
            </div>
        </div>
    </div>

    <div class="container d-flex flex-wrap">
        @foreach (var one_tick in Model)
        {
            <div class="card col-md-6 col-lg-4 col-xl-3">
                <div class="card-header">
                    <div class="row">
                        <div class="col-9">
                            <h4>@one_tick.Name</h4>
                        </div>
                        @if (!one_tick.Public)
                        {
                            <div class="col-3">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-lock" viewBox="0 0 16 16">
                                    <path d="M8 1a2 2 0 0 1 2 2v4H6V3a2 2 0 0 1 2-2m3 6V3a3 3 0 0 0-6 0v4a2 2 0 0 0-2 2v5a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V9a2 2 0 0 0-2-2M5 8h6a1 1 0 0 1 1 1v5a1 1 0 0 1-1 1H5a1 1 0 0 1-1-1V9a1 1 0 0 1 1-1" />
                                </svg>
                            </div>
                        }
                </div>
                    <div class="row">
                        <span class="align-right">
                            Zadáno: @one_tick.CreatedByUserId
                        </span>
                    </div>
                </div>
                <div class="card-body">
                    @one_tick.Description
                </div>
            </div>
        }
    </div>
